@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);

@font-face {
    font-family: "MyFont";
    src: url(../font/ARDESTINE.ttf);
}

.font1{
    font-family: 'Lobster', cursive;
}

.font2{
    font-family: 'Bad Script', cursive;
}
.font3{
    font-family: 'MyFont';
}